<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Node.js</title>
  </head>
  <body>
    <h1>Main</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam perspiciatis vitae ad tenetur accusantium enim, fuga quaerat delectus, sunt cumque debitis doloremque. Laudantium, ipsum itaque repudiandae voluptatum a harum deserunt enim
      delectus illo quos minus hic omnis? Modi, labore vel?
    </p>
    <a href="about">About</a>
  </body>
</html>
