<nav class="navigation">
  <div class="left">
    <a class="pageName">Blogify</a>
  </div>
  <div class="right">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs/create">+</a></li>
    </ul>
  </div>
</nav>
